/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    /*
    // withName: FASTQC {
    //     ext.args = '--quiet'
    // }

    // withName: 'MULTIQC' {
    //     ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    //     publishDir = [
    //         path: { "${params.outdir}/multiqc" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }
    */

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BWA_MEM' {
        ext.args   = { "-M -R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:Illumina\"" }
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:SAMTOOLS_SORT1' {
        ext.prefix = { "${meta.id}.sort" }
        ext.args   = '-n'
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:SAMTOOLS_FIXMATE' {
        ext.args   = '-m'
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:SAMTOOLS_MARKDUP' {
        ext.prefix = { "${meta.id}.markdup" }
        ext.args   = '-r'
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BEDTOOLS_GENOMECOV' {
        ext.args   = '-bga -split'
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:GAWK' {
        ext.prefix = { "${meta.id}.d${params.minDP}.awk" }
        ext.suffix = 'bed'
        ext.args   = "'\$4 >= ${params.minDP}'"
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BEDTOOLS_MERGE' {
        ext.prefix = { "${meta.id}.d${params.minDP}" }
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:GZIP' {
        ext.prefix = { "${meta.id}.d${params.minDP}" }
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BCFTOOLS_MPILEUP' {
        // mpileup
        ext.args  = "--output-type u --annotate INFO/AD,FORMAT/AD,FORMAT/DP"

        // call
        ext.args2 = "--annotate GQ --output-type z --variants-only --multiallelic-caller --ploidy-file ${params.fploidy}"
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BCFTOOLS_FILTER_SITES' {
        ext.prefix = { "${meta.id}.mark_sites" }
        ext.args   = "${params.vcf_filter_sites} --output-type z --write-index=tbi"
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BCFTOOLS_FILTER_SAMPLES' {
        ext.prefix = { "${meta.id}.mark_samples" }
        ext.args   = "${params.vcf_filter_samples} --SnpGap 5 --set-GTs . --output-type z --write-index=tbi"
    }

    withName: 'NFCORE_MULTILOCUS:MULTILOCUS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.filt" }
        ext.args   = "--apply-filters \"PASS\" --output-type z --write-index=tbi"
    }
}
