/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/multilocus -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input   = "${projectDir}/data/sample.csv"

    refname  = 'AatrE4c2Lp1M'
    ref     = "${projectDir}/data/ref/" + params.refname + ".fa"
    fploidy = "${projectDir}/data/ref/" + params.refname + ".ploidy.txt"

    pop     = "${projectDir}/data/pop.txt"

    // variant filtering
    minDP = 20   // min read depth
    maxDP = 300  // max read depth
    minGQ = 20   // min GQ score
    // minDPm1 = params.minDP - 1

    // alignment filtering options
    missing_prop_cutoff_row = 0.5
    missing_prop_cutoff_col = 0.5
    aln_filt_flag = 'f50'

    outdir = 'out'
}
